body{
    font-family: "Montserrat";
}

#title{
    background-color: #7FBCD2;
    color: #fff;
}
#title-quote{
    font-family: 'Prompt', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    padding-bottom: 30px;
}

.container-fluid{
    padding: 3% 6%;
}

 /* Navigation Bar */

 .navbar{
    padding-bottom: 3.5rem;
 }

 .nav-link{
    border-left: 2px solid white;
    color: black;
 }

.navbar-brand{
    font-family: 'Nerko One', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    color: yellow;
}
#navbarTogglerDemo01{
    font-weight: bold;
}
.download-button{
    margin: 0 15px 0;
}

.row{
    padding-top: 40px;
    padding-bottom: 40px;
}
#main-pic{
    height: 90%;
    width: 80%;
}

#features{
    background-color: #FFDDD2;
}
.features-row{
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
}

.descrip-para{
    font-family: 'Mukta', sans-serif;
    color: grey;
    width: 60%;
    margin: auto;
}


.feature-img{
    height: 180px;
    width: 220px;
}